@import "../../../../../scss/mixins";
@import "../../../../../scss/colors";

.hocScreenTopBar {
  background-color: $phone-bg-screen-top-bar;
  height: 40px;
  padding: 15px;
  display: flex;
  @include justifyContent(center);
  @include alignItems(center);

  > .title {
    font-size: 19px;
    font-weight: 600;
  }
}
