@import "../../../../../scss/mixins";

.phoneCallSignal {
  position: absolute;
  @include animation(signalToDatabase 0.5s linear);

  > span {
    color: #003f36;
    font-weight: 700;
  }

  @keyframes signalToDatabase {
    0% {
      opacity: 1;
    }

    100% {
      right: 18px;
      top: 30px;
      opacity: 0;
    }
  }
}
