@import "../../../../scss/mixins";

$phoneContentBottomRadius: 26px;

.phoneContent {
  height: 100%;
  display: flex;
  position: relative;
  @include flexDirection(column);
  @include borderBottomRightRadius($phoneContentBottomRadius);
  @include borderBottomLeftRadius($phoneContentBottomRadius);
  background-size: 100%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;

  &.on {
    background-color: #fff;
  }

  &.off {
    background-color: #272727;
  }
}

