@import "../../../../../scss/colors";
@import "../../../../../scss/mixins";

.messagesListTopBar {
  background-color: $phone-bg-screen-top-bar;
}

.messageListItem {
  background-color: #cacaca;
  padding: 5px 15px;
  @include borderRadius(10px);
  @include transition(0.5s);
  font-weight: 600;
  color: #323232;
  margin-bottom: 5px;

  &:hover {
    cursor: pointer;
    @include transform(scale(1.02));
    background-color: #a3a3a3;
  }
}
