@import "../../../../../scss/mixins";

.phoneKeyboardButtonWrap {
  display: flex;
  @include flexWrap(wrap);
}

.phoneKeyboardButton {
  background-color: #a8c34a;
  width: 60px;
  height: 60px;
  margin: 10px 20px;
  display: flex;
  @include borderRadius(21px);
  @include justifyContent(center);
  @include alignItems(center);
  @include flexDirection(column);
  @include transition(0.5s);
  @include userSelect(none);
  cursor: pointer;
  color: #2d3512;
  font-weight: 600;

  &:hover {
    background-color: #829739;
  }

  > .chars {
    font-size: 11px;
  }
}
