@import "../../../../../scss/mixins";

.phoneKeyboardButtonWrap {
  display: flex;
  @include flexWrap(wrap);
}

.phoneKeyboardButton {
  background-color: #5ab782;
  width: 60px;
  height: 60px;
  margin: 10px 20px;
  display: flex;
  @include borderRadius(21px);
  @include justifyContent(center);
  @include alignItems(center);
  @include flexDirection(column);
  @include transition(0.5s);
  cursor: pointer;
  color: #152c1f;
  font-weight: 600;

  &:hover {
    background-color: #3c845c;
  }

  > .chars {
    font-size: 11px;
  }
}
