@import "../../../../../../../../scss/mixins";

.phoneTopBarButton {
  @include borderRadius(25px);
  background-color: #0075ff;
  display: inline-flex;
  padding: 10px;
  @include transition(0.5s);

  > svg {
    color: #002858
  }

  &:hover {
    @include transform(scale(1.15));
    cursor: pointerš;
  }
}
