@import "../../../../../../../../scss/mixins";

.phoneTopBarButton {
  @include borderRadius(25px);
  display: inline-flex;
  padding: 10px;
  @include transition(0.5s);

  &:hover {
    @include transform(scale(1.15));
    cursor: pointer;
  }

  &.isActivated {
    background-color: #0075ff;
    color: #002858
  }

  &.isDeactivated {
    background-color: #aaaaaa;
    > svg {
      color: #636363;
    }
  }
}
