@import "../../../../scss/colors";
@import "../../../../scss/mixins";

.phoneLayout {
  @include boxShadow(5px 2px 0px $phone-edge-color-darker);
  position: absolute;
  top: 34px;
  display: flex;
  @include flexDirection(column);
  @include userSelect(none);
}
