@import "../../../../../scss/mixins";
@import "../../../../../scss/colors";

.phoneMainMenuWrapper {
  height: 100%;
  @include justifyContent(center);
  @include alignItems(center);
  display: flex;

  > div {
    background-color: $phone-bg-screen-light-grey;
    padding: 81px 24px;
    @include borderRadius(41px);

    > .mainMenuBtn {
      background-color: #279467;
      padding: 13px;
      font-size: 58px;
      margin: 0 15px;
      color: #2a3531;
      @include borderRadius(17px);
      cursor: pointer;
      @include transition(0.5s);

      &:hover {
        background-color: #779c8d;
      }
    }
  }
}
