@import "../../../../../scss/mixins";

.phoneMessageDetailWrapper {
  height: 100%;
  display: flex;
  @include flexDirection(column);
}

.phoneMessageDetailTopBar {
  background-color: #4e81b8;
  padding: 10px 15px;
  color: #fff;
  display: flex;
  @include alignItems(center);

  > svg {
    color: #24415d;
    font-size: 40px;
    margin-right: 25px;
  }
}

.phoneMessageDetailResponseBox {
  background-color: #28588b;
  width: 100%;
  @include borderRadius(20px);
  @include boxSizing(border-box);
  padding: 13px;

  > span {
    margin: 0 5px;
    display: flex;
  }
}
