@import "../../../../../scss/mixins";
@import "../../../../../scss/colors";

.phoneMessageDetailWrapper {
  height: 100%;
  display: flex;
  @include flexDirection(column);
}

.phoneMessageDetailTopBar {
  @include alignItems(center);
  display: flex;

  > svg {
    color: #003b33;
    font-size: 40px;
    margin-right: 25px;
  }
}

.phoneMessageDetailResponseBox {
  background-color: $phone-bg-screen-light-grey;
  width: 100%;
  @include borderRadius(20px);
  @include boxSizing(border-box);
  padding: 13px;

  > span {
    margin: 0 5px;
    display: flex;
  }
}
