@import "../../../../../../scss/mixins";
@import "../../../../../../scss/colors";

.bottomMenu {
  height: 30px;
  text-align: center;
  display: flex;
  @include alignItems(center);
  @include justifyContent(center);

  > svg {
    color: $phone-bottom-menu-icons;
    @include transition(0.3s);

    &:hover {
      cursor: pointer;
      font-size: 20px;
    }
  }
}
