@import "../../../../../../scss/mixins";
@import "../../../../../../scss/colors";

.phoneTopBar {
  width: 100%;
  position: absolute;
  top: 0;
  background: #ececec;
  font-size: 12px;
  font-weight: 500;
  @include transition(0.5s);

  > * {
    color: $phone-top-bar-items-color;
  }

}

.phoneTopBarMainLine {
  height: 17px;
  display: flex;
  @include justifyContent(space-between);
  @include alignItems(center);
  margin-bottom: 10px;
  padding: 0 10px;
  @include boxSizing(border-box);

  &:hover {
    cursor: pointer;
  }
}

.phoneTopBarMainLineRightPart {
  display: flex;
  @include alignItems(center);

  > * {
    margin-left: 5px;
  }
}

.phoneTopBarExpandedContent {
  padding: 0 10px;
  @include boxSizing(border-box);
}

.phoneTopBarButtonsRow {
  margin-bottom: 10px;
  > div {
    margin: 0 3px;
  }
}

.phoneTopBarExpendedCloseBtn {
  position: absolute;
  bottom: -12px;
  left: 50%;
  background: #838383;
  color: #fff;
  padding: 5px 8px;
  @include transform(translate(-50%, 0));
  @include borderRadius(25px);
  @include transition(0.5s);

  &:hover {
    cursor: pointer;
    @include transform(translate(-50%, 0) scale(1.1));
  }
}

.phoneTopBarMainLineFakeBg {
  position: absolute;
  width: 100%;
  height: 17px;
  left: 0;
  &:hover {
    background-color: #acacac4a;
  }
}


